.nosotros{
    text-align: center;
    margin: 4%;
    img{
        width: 40%;
        float: left;
        padding: 2%;
    }
    p{
    font-size: 220%;
    text-align: justify;
    background-color: $color_tres;
    padding: 1%;
    }
}